{% extends "layout.html" %}


{% block contents %}
    <div class="choice_part">
        <a href="/kyokin"><div class="adjust-box box-1x1">
            <div class="inner">
                <p>胸筋</p>
            </div>
        </div></a>
        <div class="adjust-box box-1x1">
            <div class="inner">
                <p>背筋</p>
            </div>
        </div>
        <div class="adjust-box box-1x1">
            <div class="inner">
                <p>足</p>
            </div>
        </div>
        <div class="adjust-box box-1x1">
            <div class="inner">
                <p>肩</p>
            </div>
        </div>
        <div class="adjust-box box-1x1">
            <div class="inner">
                <p>腕</p>
            </div>
        </div>
    </div>
    {{user}}
    
{% endblock %}